@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
}

h1 {

}

/* HEADER */
header {
    top: 50px;
    width: 100%;
    height: 100px;
    position: relative;
}

#img_logo {
    position: relative;
    top: 10px;
    left: 107px;
    scale: 78%;
}

#nav_bar {
    float: right;
    position: relative;
    padding-top: 38px;
    padding-right: 164px;
}

#nav_bar_item {
    color: black;
    text-decoration: none;
    padding: 27px;
    font-size: 20px;
    font-weight: bold;
}

/* HOME SECTION */
#home_set {
    width: 100%;
    height: 600px;
    position: relative;
    padding-right: 50px;
}

button {
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family: Montserrat;
}

#bt_1 {
    width: 216px;
    height: 64px;
    background: linear-gradient(to right, #024CEA, #35C4FC);
    color: white;
}

#bt_2 {
    width: 173px;
    height: 64px;
    background-color: black;
    color: white;
}

#div_1 {
    width: 600px;
    position: relative;
    top: 80px;
    padding-left: 130px;
    font-size: 30px;
}

#img_home {
    width: 880px;
    height: 570px;
    position: relative;
    float: right;
    bottom: 394px;
}

/* EXAMPLE FIX */
#div_3 {
    height: 360px;
    background: linear-gradient(to right, #024CEA, #35C4FC);
}

#pt_1{
    text-align: center;
}
